NODE_ENV=development
NEXT_PUBLIC_API_URL=https://localhost:3
000
MONGODB_URI=mongodb://localhost:27017/db-name
MONGO_USER=your_db_username
MONGO_PASSWORD=your_db_password
NEXT_PUBLIC_VERSION=$npm_package_version
NEXT_PUBLIC_NAME=$npm_package_name