{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "singleQuote": false,
  "arrowParens": "avoid",
  "requirePragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^node:(fs|path|os|http|https)$",
    "<THIRD_PARTY_MODULES>",
    "^express$",
    "^cookie-parser$",
    "^express-session$",
    "^body-parser$",
    "^compression$",
    "^helmet$",
    "^cors$",
    "^passport$",
    "^mongoose$",
    "^connect-mongo$",
    "^connect-redis$",
    "^morgan$",
    "^config/(.*)$",
    "^utils/(.*)$",
    "^app/models/(.*)$",
    "^app/middleware/(.*)$",
    "^app/services/(.*)$",
    "^app/controllers/(.*)$",
    "^app/routes/(.*)$",
    "^app/sockets/(.*)$",
    "^app/templates/(.*)$",
    "^locales/(.*)$",
    "^seeds/(.*)$",
    "^logs/(.*)$",
    "^cron$",
    "^test/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
